// Navigation Styles here
nav {    
    padding: 2vh 0;
    border-bottom: 2px dashed rgb(206, 206, 206);

    .nav-con {
        .flex(row, space-between);
    }

    .nav-logo {
        width:25%;
        
    }//end of Nav-Log0

    .nav-links {
        
        .flex(row,space-around);   
        width: 50%;

        a {
            color: black;
            font-size: 1.6rem;
            text-decoration: none;

        }//end of anchor 
    }//end of Nav-Links   

}